language: julia
os:
    - linux
    - osx
julia:
    - 1.2
    - nightly
notifications:
    email: false
matrix:
    allow_failures:
        - julia: nightly
after_success:
    - julia -e 'cd(Pkg.dir("SimJulia")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder()); Codecov.submit(Codecov.process_folder())'
    - julia -e 'ps=Pkg.PackageSpec(name="Documenter", version="0.19"); Pkg.add(ps); Pkg.pin(ps); cd(Pkg.dir("SimJulia")); include(joinpath("docs", "make.jl"))'
